/* styles.css */

@font-face {
    font-family: 'MinecraftRegular';
    src: url('minecraft-font/Minecraft.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinecraftTitle';
    src: url('minecraft-font/Minecraft-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('QEQ_imgs/minecraft_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Capa oscura superpuesta */
    z-index: -1; /* Asegura que la capa oscura esté detrás del contenido */
}

.menu {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.button-minecraft{
    border: 3px solid black;
    margin-bottom: 10px;
    width: 500px;
}

button {
    width: 100%;
    font-family: 'MinecraftRegular'; /* Fuente estilo Minecraft */
    text-shadow: 2px 2px #000000;
    background-color: rgb(133,133,133); /* Color de fondo del botón */
    border-bottom: 4px solid rgb(89,89,89);
    border-right: 2px solid rgb(89,89,89);
    border-left: 2px solid rgb(161,161,161);
    border-top: 2px solid rgb(161,161,161);
    color: white; /* Color del texto */
    padding: 6px; /* Espaciado interno del botón */
    text-align: center; /* Alineación del texto */
    font-size: 18px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.button-minecraft:hover {
    border-color: white;
}

h1,h2{
    font-family: 'MinecraftTitle';
    text-transform: uppercase;
    color: grey;
    -webkit-text-stroke: 2px black;
    margin:5px;
}

#game-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: flex-start;
}

#board {
    display:flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    place-content: center;
}

#lateral{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-width: 400px;
    place-content: center;
    background-image: url('minecraft-images/plank.png');
}

#questions .button-minecraft{
    width: 90%;
}

.card {
    border: 1px solid #ccc;
    width: 120px;
    height: 170px;
    margin: 6px;
    padding: 10px;
    text-align: center;
    background: rgb(254,249,195);
    background: radial-gradient(circle, rgba(254,249,195,1) 10%, rgba(231,198,77,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s, opacity 0.2s;
    margin: 10px;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
}

.card p {
    margin: 0;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card-buttons button {
    padding: 5px 10px;
    cursor: pointer;
}

.card-x {
    position: sticky; /* Posicionamiento absoluto */
    width: 100%; /* Ocupa todo el ancho de la tarjeta */
    height: 100%; /* Ocupa toda la altura de la tarjeta */
    translate: 0 -115%;
    background-image: url('QEQ_imgs/X_img.png'); /* Ruta de la imagen de X */
    background-size: contain; /* Escala la imagen para que quepa dentro de la tarjeta */
    background-repeat: no-repeat; /* Evita que la imagen de X se repita */
    background-position: center; /* Centra la imagen de X dentro de la tarjeta */
    opacity: 1; /* Inicialmente oculta la imagen de X */
    pointer-events: none; /* Ignora los eventos del ratón */
}
/* Estilos para mostrar la imagen de X */
.card.show-x .card-x {
    opacity: 1; /* Muestra la imagen de X */
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.4;
    }
    25% {
        transform: scale(1.3);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    75% {
        transform: scale(1.3);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 0.4;
    }
}

#restaTiempo {
    position: absolute;
    color: red;
    font-size: 25px;
    margin-top: -15px;
    margin-left: 200px;
    font-family: 'MinecraftRegular'; /* Fuente estilo Minecraft */
    text-shadow: 2px 2px #ccc;
    text-shadow: 2px 2px #000000;
    animation: pulse 1s infinite alternate;
}

.rejectBtn, .checkBtn {
    transition: transform 0.5s ease;
}

.rejectBtn:hover, .checkBtn:hover {
    transform: scale(1.25);
}

#timer {
    width: 100%;
    font-family: 'MinecraftRegular'; /* Fuente estilo Minecraft */
    text-shadow: 2px 2px #ccc;
    text-shadow: 2px 2px #000000;
    background-color: rgb(133,133,133); /* Color de fondo del botón */
    border-bottom: 4px solid rgb(89,89,89);
    border-right: 2px solid rgb(89,89,89);
    border-left: 2px solid rgb(161,161,161);
    border-top: 2px solid rgb(161,161,161);
    color: white; /* Color del texto */
    padding: 6px; /* Espaciado interno del botón */
    text-align: center; /* Alineación del texto */
    font-size: 75px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#timer-container {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 12px;
}